<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyk.mapper.DishMapper">
    <resultMap id="dishResultMap" type="com.jyk.dao.Dish">
        <id property="id" column="id"/>
        <result property="dishName" column="dish_name"/>
        <result property="food" column="food"/>
        <result property="seasoning" column="seasoning"/>
        <result property="chief" column="chief"/>
        <result property="price" column="price"/>
        <result property="imgDir" column="img_dir"/>
        <result property="imgName" column="img_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--共通属性抽出-->
    <sql id="Base_Column_List">
        id,dish_name,food,seasoning,chief,price,img_dir,img_name,create_by,create_time,update_by,update_time
    </sql>

    <insert id="insertDish" parameterType="com.jyk.dao.Dish">
        insert into dish(dish_name,food,seasoning,chief,price,create_by,create_time,update_by,update_time)
        values(#{dishName},#{food},#{seasoning},#{chief},#{price},#{createBy},#{createTime},#{updateBy},#{updateTime})
    </insert>

    <select id="selectAllDishes" resultMap="dishResultMap">
        select <include refid="Base_Column_List" /> from dish;
    </select>

    <select id="selectDishesByNameLike" resultMap="dishResultMap">
        select <include refid="Base_Column_List" /> from dish
        where dish_name like CONCAT('%', #{name}, '%');
    </select>

    <update id="updateDish" parameterType="com.jyk.dao.Dish">
        update dish
        <set>
            <if test="imgDir != null">
                img_dir = #{imgDir},
            </if>
            <if test="imgName != null">
                img_name = #{imgName},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>


</mapper>
